.main {
  .wrap {
    padding: 24px 0;
    background: #1e1e1e;

    .cont {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1024px;
      margin: auto;
      padding: 12px;

      &_img {
        width: 300px;
        height: 300px;
        border-radius: 100%;
      }

      &_name-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 300px;
        margin: 0;
        padding: 12px 32px;
        border-radius: 20px;
        background: #252525;

        .br {
          width: 150px;
          height: 2px;
          background-color: #fff;
        }
      }
    }
  }

  .cv-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;

    .summary,
    .stack,
    .education,
    .languages,
    .code-example,
    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      padding: 10px;
    }

    .summary {
      p {
        margin: 0;
      }

      ul {
        transform: translateX(-22px);
        width: 70%;

        li {
          text-align: left;
        }
      }
    }

    .education {
      .content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        a {
          text-align: left;
        }

        .course {
          display: flex;
          flex-direction: column;
          gap: 12px;

          a {
            text-align: left;
          }

          .stats {
            display: flex;
            gap: 16px;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;

            p {
              margin: 0;
            }
          }
        }
      }
    }

    .languages {
      .content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .lang-cont {
          display: flex;
          gap: 16px;
          align-items: center;
          justify-content: start;

          p {
            margin: 0;
          }
        }
      }
    }

    .code-example {
      pre {
        font-size: 11px;
      }
    }

    .contact {
      .content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .link {
          display: flex;
          gap: 16px;
          align-items: center;
          justify-content: start;
        }
      }
    }
  }
}
