.main {
  .wrap {
    padding: 24px 0;
    background: #1e1e1e;

    .cont {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      max-width: 1024px;
      margin: auto;
      padding: 12px;

      &_img {
        width: 300px;
        height: 300px;
        border-radius: 100%;
      }

      &_name-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 300px;
        margin: 0;
        padding: 12px 32px;
        border-radius: 20px;
        background: #252525;

        .br {
          width: 150px;
          height: 2px;
          background-color: #fff;
        }

        h3 {
          margin-top: 42.5px;
        }
      }

      @media (prefers-color-scheme: light) {
        color: #fff;
      }

      @media (width <= 900px) {
        justify-content: space-evenly;

        &_img {
          width: 150px;
          height: 150px;
        }

        &_name-cont {
          height: auto;

          h1 {
            margin: 20px auto;
            font-size: 2em;
          }

          h3 {
            margin: 20px auto;
          }
        }


      }

      @media (width <= 576px) {
        position: relative;
        width: 100%;
        padding: 0 0 8px;
  
        &_img {
          position: absolute;
          top: -70px;
        }
  
        &_name-cont {
          max-width: 80%;
          margin-top: 60px;
        }
      }
    }
  }

  .cv-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto;
    padding: 16px;

    .summary,
    .stack,
    .education,
    .languages,
    .code-example,
    .contact,
    .projects,
    .collaborations {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      padding: 10px;
    }

    .summary {
      p {
        margin: 0;
        text-align: left;
      }

      ul {
        transform: translateX(-22px);
        width: 70%;

        li {
          text-align: left;
        }
      }
    }

    .education {
      .content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        a {
          text-align: left;
        }

        .course {
          display: flex;
          flex-direction: column;
          gap: 12px;

          a {
            text-align: left;
          }

          .stats {
            display: flex;
            gap: 16px;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;

            p {
              margin: 0;
            }
          }
        }
      }
    }

    .languages {
      .content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .lang-cont {
          display: flex;
          gap: 16px;
          align-items: center;
          justify-content: start;

          p {
            margin: 0;
          }
        }
      }
    }

    .code-example {
      pre {
        width: 90%;
        padding: 0;
        border-radius: 15px;
        font-size: 12px;
      }
    }

    .contact {
      .content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .link {
          display: flex;
          gap: 16px;
          align-items: center;
          justify-content: start;
        }
      }
    }

    .projects {
      align-items: flex-start;

      h2 {
        margin: 0 auto;
        text-align: center;
      }

      &-group {
        text-align-last: left;

        .item {
          text-align-last: left;
        }
      }
    }

    .collaborations {
      h2 {
        margin: 0;
        margin-bottom: 1em;
      }

      .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &-disc {
          text-align: left;
        }

        &-list {
          padding-left: 20px;
          font-weight: 500;
          text-align: left;

          &_item-list {
            font-weight: 400;
          }
        }
      }
    }
    
    @media (width <= 1024px) {
      flex-flow: column wrap;
      align-items: center;

      .summary,
      .stack,
      .education,
      .languages,
      .code-example,
      .contact,
      .projects,
      .collaborations {
        width: 70%;
      }
    }

    @media (width <= 600px) {
      .summary,
      .stack,
      .education,
      .languages,
      .code-example,
      .contact,
      .projects,
      .collaborations {
        width: 93%;
      }
    }

    @media (width <= 500px) {
      padding: 0;

      .summary,
      .stack,
      .education,
      .languages,
      .code-example,
      .contact,
      .projects,
      .collaborations {
        width: 90%;
        padding: 0;
      }
    }
  }
}
