.header {
  width: 100%;
  background: #1E1E1E;

  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
    margin: auto;
    padding: 12px;

    .nav {
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: space-between;
      
      &_link {
        padding: 4px 8px;
      }
    }
  }
  
}